:root {
  /* Brand colors */
  --color-primary: #689def;
  --color-primary-300: #7cabee;
  --color-primary-200: #91b9ee;
  --color-primary-100: #a6c7ee;
  --color-secondary: #ff6790;
  --color-very-light-blue: #f4f9ff;
  --color-black: #2d3133;
  --color-gray: #999999;
  --color-light-gray: #f5f5f5;
  --color-white: #fafafa;
  /* Infojob colors */
  --color-blue-infoj: #167db7;
  --color-light-blue-infoj: #5ca4cd;
  --color-accent-infoj: #ff6340;
  --color-success-infoj: #00a550;
  --color-alert-infoj: #f1c40f;
  --color-error-infoj: #e93e40;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  background-color: var(--color-light-gray);
  flex-grow: 1;
  display: flex;
}

footer {
  background-color: var(--color-light-gray);
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--color-secondary);
}
